body {
    margin-top: 50px;
}

.pad-top-10 {  padding-top: 10px; }
.pad-top-20 {  padding-top: 20px; }
.pad-top-30 {  padding-top: 30px; }

.top-bar {
    height: 5px;
    background: #ca2129;
    margin-bottom: 1px;
}

.navbar {
    margin-bottom: 1px;
}

li.login a{
    background: #ca2129 ;
    margin-bottom: -10px !important;
    color: white !important;
    padding-right: 22px;
    padding-left: 22px;
}

li.login a:hover, .navbar-default .navbar-nav > li > a:hover{
    background: #cccccc;
}

li.register a{
    background: #2f98cc;
    margin-bottom: -10px !important;
    color: white !important;
    padding-right: 22px;
}

.jumbotron {
    background: url(../images/waterdrop.jpg) no-repeat 50% 0;
    height: 350px;
    padding: 0;
}

.jumbotron [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124, .15);
    border: 1px solid rgba(86,61,124, .2);
    overflow: auto;
    height: 350px;
}

.jumbotron-content {
    color: white;
}

.jumbotron h1 {
    font-size: 34px;
    border-bottom: #ffffff solid 1px;
    padding-bottom: 10px;
}

.bluebox {
    background: #2398cc;
    overflow: hidden;
    height: 230px;
    color: white;
    padding: 0 10px
    font-size: 120%;
}

.bluebox {
    background: #2398cc;
    overflow: hidden;
    height: 230px;
    color: white;
    padding: 0 10px
    font-size: 120%;
}

.bluebox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #2b8cbc;
    padding: 10px 15px;
    color: white;
}

.bluebox a.readmore:hover {
    background: #20749d;
}

.redbox {
    background: #ca2129;
    overflow: hidden;
    height: 230px;
    color: white;
    padding: 0 10px
    font-size: 120%;
}

.redbox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #bf1e26;
    padding: 10px 15px;
    color: white;
}

.redbox a.readmore:hover {
    background: #86161b;

}

.media-body {
    font-size: 120%;
}


.panel-blue-heading {
    background: #2e98cc !important;
    color: white !important;
}

.panel a:hover {
    text-decoration: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #ca2129;
    border-color: #ca2129;
    color: #fff;
    z-index: 2;
}

.grey-list .list-group-item.active, .grey-list .list-group-item.active:hover, .grey-list .list-group-item.active:focus {
    background-color: #f4f4f4;
    border-color: #cccccc;
    color: #666666;
}

#blog img{
    width:100%;
    margin:5px 0 15px 0;
    border:1px #cccccc solid;
    padding:3px;
    border-radius:5px;
}

#blog a.readmore{
    background:#2b8cbc;
    padding:10px 15px;
    color:#ffffff;
    text-align:center;
    display:block;
    margin-top:20px !important;
    border-radius:5px;
}

#blog a.readmore:hover{
    background:#20749d;
}

small{
    padding:5px;
    background:#f4f4f4;
    border:#dddddd solid 1px;
    border-radius:10px;
    width:100%;
    display:block;
    margin:5px 0 10px 0;
}

iframe.gmap {
    width:100%;
    border: 1px solid;
    padding: 4px;
}

.greywell {
    background: #f4f4f4 !important;
}

.tab-pane{
    padding-top: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    background: #f4f4f4;
}